---
import ArrowUp from "@icons/ArrowUp.astro";
---

<footer>
	<nav class="py-4">
		<ul
			class="flex justify-between gap-2 normal-case"
		>
			<li>
				<a rel="noopener noreferrer" target="_blank" class="link" href="https://axencialocaldecolocacion.org/pactoporempleo"
					>Pacto local polo emprego • Axencia local de colocación</a
				>
			</li>
			<li>
				<a class="silver hover:brightness-150 font-medium text-sm text-inherit" href="#">
					<span class="-indent-96">
						Subir
					</span>
					<ArrowUp />
				</a>
			</li>
		</ul>
	</nav>
</footer>
