---
import Concello from "@icons/Concello.astro";

interface Props {
    textLink?: string;
    link?: string;
    ogImage?: string;
}

const { textLink = "Pacto Local polo Emprego", link = "/" } = Astro.props;
---

<header class="block bg-primary">
    <div class="flex justify-around gap-x-2 items-center p-4 uppercase text-white">
        <a href={link} class="inline-flex p-2 bg-white/70 text-primary hover:brightness-150">
            <Concello class="inline-block h-12 fill-primary" />
            <span class="inline-block rotate-90 text-center text-sm">Home</span>
        </a>
        <h1>{textLink}</h1>
    </div>
</header>
