---
import Link from '@components/ui/Link.astro'
---
<section class="mb-section rounded silver font-extrabold">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
        <h2 class="text-title">
            Novas
        </h2>
        <div class="text-sm opacity-80 md:text-base">
            <strong class="block mb-4" id="concello-text">
                O Concello de Santiago asinou hoxe o V Pacto Local polo Emprego
            </strong>
            <Link
                id='concello-link'
                labelledby='concello-link concello-text'
                href='/novas/asinado-v-pacto-emprego' />          
        </div>
    </header>
    <section class="grid gap-2 items-center">
        <slot />
    </section>
</section>