<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">Un pouco de contexto</h2>
    <p class="neutral-100 opacity-80 text-sm md:text-lg">
        <strong>O V Pacto Local polo Emprego</strong> 2024-2027 é un compromiso activo do Departamento de Emprego do Concello de Santiago de Compostela, por facer do emprego un elemento para a efectiva integración e inclusión social da cidadanía.
    </p>
</section>