---
import Item from '@components/ui/DetailsItem.astro'
import formulacionEstratexica from '@/data/formulacion-estratexica.json'
---

<ol class="grid gap-2 text-sm opacity-80 md:text-base">
	{
		formulacionEstratexica.map((e, i) => {
			return (
				<Item>
					<h3 slot="summary" class="text-primary font-bold">
						{e.title}
					</h3>
					<div slot="content" class="h-full">
						<div
							class="text-sm opacity-80 md:text-base"
							set:html={e.description}
						/>
					</div>
				</Item>
			)
		})
	}
</ol>
