<li class='border-neutral-600 border-b-[1px]'>
    <details class='p-4 [&_svg]:open:-rotate-180'>
        <summary class='flex justify-between cursor-pointer list-none items-center gap-4'>
            <slot name="summary" />
            <svg
                class='block rotate-0 transform text-primary transition-all duration-300'
                fill='none'
                height='20'
                width='20'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                viewBox='0 0 24 24'
                >
            <polyline points='6 9 12 15 18 9'></polyline>
            </svg>
        </summary>                    
        <div
            class="grid transition-all"
        >
           <slot name="content" />
        </div>
    </details>
</li>