---
const { id = 'y_2VlYtbr84', title = 'Título del vídeo', className = 'mx-auto my-14 max-w-screen-md' } = Astro.props
---
<div class={className}>
	<video 
		src="/videos/firma-pacto/firma.mp4"
		controls=""
		poster="/images/firma-pacto/asinantes.jpg"
	>
	Tu navegador no admite el elemento <code>video mp4</code>.
	</video>
    <!-- <lite-youtube
    videoplay="Reproducir"
    videotitle={title}
    videoid={id}
    params="controls=0&autoplay=1">
    <a href="https://youtu.be/y_2VlYtbr84">Watch on YouTube: "Sample output of devtools-to-video cli tool"</a>
  </lite-youtube> -->
</div>

<!-- <style>
	a {
	aspect-ratio: 16 / 9; /* matches YouTube player */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

/* right-facing triangle "Play" icon */
a::before {
	display: block;
	content: '';
	border: solid transparent;
	border-width: 2em 0 2em 3em;
	border-left-color: red;
}

a:hover::before {
	border-left-color: #fff;
}

a:focus {
	outline: 2px solid red;
}
</style> -->